:root {
    --floral-white: #FFFDF7;
    --dark-yellow: #FDC921;
    --light-yellow: #FDD85D;
    --dark-blue: #6798C0;
    --light-blue: #99D6EA;
}

.navbar {
    background-color: var(--dark-yellow);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }